doctype
html(lang='pl_PL')
    head
        meta(charset='utf-8')
        title Księgarnia
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ../styles/style.css
    body
        include ./components/navbar

        main 
        .content
            h2 Najlepsze książki w najlepszych cenach!
            a(href="/books" class="books-link") Sprawdź sam 

